@media (max-width: 1268px) {
  .col-sm-3 {
    width: 12.5% !important;
  }
}
@media (max-width: 1068px) {
  .col-sm-3 {
    width: 16.6% !important;
  }
}
@media (max-width: 868px) {
  .col-sm-3 {
    width: 20.0% !important;
  }
}
@media (max-width: 667px) {
  .col-sm-3 {
    width: 25.0% !important;
  }
}
@media (max-width: 467px) {
  .col-sm-3 {
    width: 50.0% !important;
  }
}
