@media (min-width: 768px) {
  .col-sm-3 {
    width: 25.0% !important;
  }
}
@media (min-width: 1150px) {
  .col-sm-3 {
    width: 20.0% !important;
  }
}
@media (min-width: 1350px) {
  .col-sm-3 {
    width: 16.6% !important;
  }
}
@media (min-width: 1600px) {
  .col-sm-3 {
    width: 12.5% !important;
  }
}
